@font-face {
	font-family: 'FrizQuadrataRegular';
	src: url('./FrizQuadrataRegular.eot');
	src: local('FrizQuadrataRegular'), url('./FrizQuadrataRegular.woff') format('woff'), url('./FrizQuadrataRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_12912">Text with this font applied</p> */
.fontsforweb_fontid_12912 {
	font-family: 'FrizQuadrataRegular' !important;
}

/* Font downloaded from FontsForWeb.com */